head
  title=title
  style.
    body {
        background:url(/public/webcam-capture/video0.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
body
    script.
        setTimeout(() => {location.href=location.href}, 1000)
